<div class="to-do-item" id ="<%=to_do_item.id%>">
  <h4><%= to_do_item.title %></h4> 
  <p class = "hidden" id = "toDoLat <%= to_do_item.id %>"><%= to_do_item.latitude %></p>
  <p class = "hidden" id = "toDoLong <%= to_do_item.id %>"><%= to_do_item.longitude %></p>
</div>