  <div class ="destination">

     <%= image_tag destination.image_url, :class => "destination-image" %>
     <section class="map-canvas" id = "<%=destination.id %>" data-latitude = "<%= destination.latitude %>" data-longitude = "<%= destination.longitude %>">
     </section>
      <h3><%= destination.name %></h3>

    <!--   <p class = "hidden" id = "latitude-<%= destination.id %>"><%= destination.latitude %></p>
      <p class = "hidden" id = "longitude-<%= destination.id %>"><%= destination.longitude %></p> -->

  <h3>To Do Items</h3>

  <div id="<%= to_do_item_id(destination) %>">
    <!-- Put new to do items into this div -->
      <%= render destination.to_do_items %>
  </div>

  <div class = "to-do-item">
    <%= link_to "Add To Do Item" %>
    <%= form_for make_to_do_item, url: destination_to_do_items_path(destination),:remote => true do |f| %>
 
      <%= field_set_tag do %>
        <%= f.label :title, "Title" %>
        <%= f.text_field :title %>
      <% end %>

      <%= field_set_tag do %>
        <%= f.label :location, "Location" %>
        <%= f.text_field :location %>
      <% end %>
    </div>
      <%= f.hidden_field :destination_id, :value => destination.id %>
      <%= f.submit "Add Item" , :onclick => 'addMarker(to-do-item.latitude,to-do-item.longitude)'%>

    <% end %>




 </div>



